<!DOCTYPE html>
<html>
<head>
  <% include ../fragments/header.ejs %>
  <title>Kirk's workOS App</title>
</head>

<body>
<% include ../fragments/nav.ejs %>

<div class="container">

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Kirk's workOS App</h3>
      <ul>
        <li>This is a nodeJS based web app deployed to Heroku using Git!</li>
        <li>Click 'Slack User List' to view the list of Users.</li>
        <li>Click 'Github' to view the source code for this project.</li>
      </ul>
    </div>
    <div style="white-space: pre;">

      ─────▄████▀█▄
      ───▄█████████████████▄
      ─▄█████.▼.▼.▼.▼.▼.▼▼▼▼
      ▄███████▄.▲.▲▲▲▲▲▲▲▲
      ████████████████████▀▀
    </div>
  </div>

</div>
</body>
</html>
