<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav" style="margin-left: 1px;">
      <li class="navbar-nav">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="navbar-nav">
        <a href="/get_users"><span class="glyphicon glyphicon-list"></span> Slack User List</a>
      </li>
      <li class="navbar-nav">
        <a href="/list_channels"><span class="glyphicon glyphicon-list-alt"></span> User Channels List</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="https://github.com/kirkampong/workOS-challenge"><span class="glyphicon glyphicon-user"></span> Github</a>
      </li>
    </ul>
  </div>
</nav>
